In [1]:
import matplotlib.pyplot as plt
import logging
import pandas as pd
import numpy as np
import os

In [2]:
logging.basicConfig(
    filename= 'historico_de_acoes.log',           #  f"{os.path.basename(__file__).split('.')[0]}.log",
    filemode= 'a',
    format= '%(asctime)s - %(levelname)s -  %(funcName)s - %(message)s',
    level= logging.INFO,
    datefmt= '%d-%b-%y %H:%M:%S',
    force= True)

## Carregando dados

In [3]:
all_clients_original = pd.read_csv("/content/contatos.csv", sep=";", dtype=str)

In [4]:
all_clients_original.shape

(1085, 41)

In [5]:
all_clients_original.head()

,ID,Código,Nome,Fantasia,Endereço,Número,Complemento,Bairro,CEP,Cidade,...,CPF mãe,Segmento,Vendedor,Tipo contato,E-mail para envio NFe,Limite de crédito,Cliente desde,Próxima visita,Condição de pagamento,Regime tributário
0,15924469412,NaN,Lorena Cristina Araújo,NaN,Rua C117,NaN,NaN,Jardim América,74255380,Goiânia,...,NaN,NaN,Renata Wist,Cliente,NaN,0.00,04/11/2022,NaN,NaN,NaN
1,15924519125,NaN,Thais Barbosa,NaN,Alameda das Rosas,1429,esq R 17,Setor Oeste,74125010,Goiânia,...,NaN,NaN,NaN,Cliente,NaN,0.00,04/11/2022,NaN,NaN,NaN
2,15928798594,NaN,Cristiana Faccin,NaN,Rua 56,NaN,NaN,Jardim Goiás,74810240,Goiânia,...,NaN,NaN,NaN,Cliente,NaN,0.00,08/11/2022,NaN,NaN,NaN
3,15928820386,NaN,Zany Ferraz Atelier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Cliente,NaN,0.00,08/11/2022,NaN,NaN,NaN
4,15928822825,NaN,Glaubinha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Cliente,NaN,0.00,NaN,NaN,NaN,NaN

In [6]:
total_columns = len(all_clients_original.columns)
print(total_columns)

41

In [7]:
for column in all_clients_original.columns:
    print('\n', column)
    print(all_clients_original[column].value_counts(dropna=False))

 ID
15924469412    1
15931316194    1
15928728139    1
15928751591    1
15928782743    1
              ..
15922042993    1
15922042994    1
15922042995    1
15922042996    1
16031183985    1
Name: ID, Length: 1085, dtype: int64

 Código
NaN    1085
Name: Código, dtype: int64

 Nome
Layanne Braga                    3
Frete                            2
Patrícia Martins Botosso         2
IANA PUCCA                       2
Compra de acessórios             2
                                ..
Janene De Morais Bulman          1
Janicleia Sampaio                1
Jaqueline Da Silva Pinto         1
Jaqueline Setembrino Da Silva    1
Tatiana de Jesus Amaral          1
Name: Nome, Length: 1065, dtype: int64

 Fantasia
NaN                       956
@soniamariaalvesteles       2
@marryflor                  1
jak.sousa                   1
day_linda_de_bonita         1
                         ...
marypinkmenegatti           1
@rita_gnoronha              1
suelybarcelosmeireles       1
@vanfsdematos               1
thata.nog                   1
Name: Fantasia, Length: 129, dtype: int64

 Endereço
NaN                                             540
Rua Dona Stela                                    6
Rua 13                                            4
Rua C 55                                          3
Rua 14                                            3
                                               ...
Rua 126                                           1
Rua 21                                            1
Rua Doutor Antônio Manoel de Oliveira Lisboa      1
Av Anhanguera                                     1
Rua Aruana                                        1
Name: Endereço, Length: 501, dtype: int64

 Número
NaN    580
0       22
S/N     11
01       8
Sn       7
      ...
563      1
338      1
484      1
21       1
892      1
Name: Número, Length: 368, dtype: int64

 Complemento
NaN                                680
Casa                                17
casa                                 8
A                                    2
apto 701                             2
                                  ...
Ao lado da oficina do zezinho        1
Apto. 1503- Res. Flamingo Tower      1
a                                    1
Apt 201 bloco B12                    1
Atp.502                              1
Name: Complemento, Length: 381, dtype: int64

 Bairro
NaN                      548
Setor Bueno               28
Centro                    22
Setor Oeste               15
Parque Amazônia           12
                        ...
Parque Veiga Jardim 4      1
Setor aeroporto            1
Água do engano             1
Alto da Glória             1
Jardim Goias               1
Name: Bairro, Length: 368, dtype: int64

 CEP
NaN         620
74650100      6
74810170      3
74680770      2
24110637      2
           ...
24355220      1
74635075      1
71920010      1
71925000      1
74815765      1
Name: CEP, Length: 435, dtype: int64

 Cidade
NaN                     557
Goiânia                 254
Brasília                 29
São Paulo                27
Aparecida de Goiânia     14
                       ...
Indaiatuba                1
Barro Alto                1
Nova Iguaçu               1
Araxá                     1
Piracanjuba               1
Name: Cidade, Length: 146, dtype: int64

 Estado
NaN    402
GO     308
       150
SP      68
MG      40
DF      31
RJ      18
ES      10
PR       8
SC       7
BA       7
CE       6
PA       5
MT       5
MS       3
PB       3
PE       3
RS       2
TO       2
PI       1
Go       1
AM       1
go       1
RN       1
AC       1
MA       1
Name: Estado, dtype: int64

 Contatos
NaN    1085
Name: Contatos, dtype: int64

 Fone
NaN                898
(35) 9962-5272       2
(62) 8117-5016       2
(62) 9449-2090       1
(62) 8133-7628       1
                  ...
(62) 9191-3170       1
(21) 99957-5308      1
(27) 99844-0655      1
(62) 9646-7806       1
(11) 99902-0304      1
Name: Fone, Length: 186, dtype: int64

 Fax
NaN    1085
Name: Fax, dtype: int64

 Celular
NaN                530
(62) 8285-0000       2
(62) 9156-7580       2
(31) 9823-1718       2
(62) 99637-8134      2
                  ...
(19) 97402-3133      1
(21) 99966-0881      1
(62) 99198-9198      1
(62) 98100-7505      1
(63) 9125-4848       1
Name: Celular, Length: 546, dtype: int64

 E-mail
NaN                              496
patrickboyy2013@hotmail.com        2
janadekassia@hotmail.com           2
marianasalesx@gmail.com            1
marysaraivacunha@gmail.com         1
                                ...
gizelyoliveira28@gmail.com         1
gtd_glaucia@hotmail.com            1
glendamarieformiga@gmail.com       1
g.rubia@dontec.com.br              1
taiza_olhosverdes@hotmail.com      1
Name: E-mail, Length: 588, dtype: int64

 Web Site
NaN    1085
Name: Web Site, dtype: int64

 Tipo pessoa
Pessoa Física      1080
Pessoa Jurídica       5
Name: Tipo pessoa, dtype: int64

 CNPJ / CPF
NaN               928
952.459.361-00      1
134.779.648-70      1
972.775.331-00      1
703.781.731-70      1
                 ...
413.565.968-35      1
188.958.817-29      1
043.384.341-12      1
018.861.031-60      1
990.926.541-91      1
Name: CNPJ / CPF, Length: 158, dtype: int64

 IE / RG
NaN       1084
ISENTO       1
Name: IE / RG, dtype: int64

 IE isento
N      864
NaN    218
S        3
Name: IE isento, dtype: int64

 Situação
Ativo    1030
NaN        55
Name: Situação, dtype: int64

 Observações
NaN                                                                                                                                                                                       1058
Cliente Nova.                                                                                                                                                                                2
Cliente ativa de live.                                                                                                                                                                       1
Cliente mais ativa em lives.                                                                                                                                                                 1
Nunca comprou na loja.                                                                                                                                                                       1
Cliente que não compra há um tempo.                                                                                                                                                          1
A maioria das entregas são realizadas pela Renata, ou ficam na parte parte para retirada. \r\nGeralmente compra em lives, demora um pouco para pagar, mas paga direitinho.                   1
Cliente que gosta de receber atendimento no mesmo instante que manda mensagem no WhatsApp.\r\nAtiva somente em lives. \r\nQuase nunca compra por fora.                                       1
Intagram @vanessasallesmakeup\r\nDesistência de peças da live. \r\n                                                                                                                          1
Cliente mais ativa em live.                                                                                                                                                                  1
Cliente pouco ativa em live. \r\nDesistência de peças da live. \r\nSepara peças e enrola para pagar.                                                                                         1
Cliente pouco ativa em live. \r\nEstá devendo 30,00 reais (compra realizada dia 30/10). \r\nEntregas na academia Life ex                                                                     1
Empresa.                                                                                                                                                                                     1
Cliente live.                                                                                                                                                                                1
Cliente de live e realiza retirada.                                                                                                                                                          1
Retirar na loja                                                                                                                                                                              1
Cliente que nunca participou da live.                                                                                                                                                        1
Cliente de atacado.                                                                                                                                                                          1
Cliente Nova, nunca comprou aqui na loja.                                                                                                                                                    1
Cliente ativa em lives. \r\nCostuma realizar retirada das mercadorias.                                                                                                                       1
Empresa.                                                                                                                                                                                     1
Cliente que compra por anotação (caderno).                                                                                                                                                   1
Cliente Nova.                                                                                                                                                                                1
Cliente Nova!                                                                                                                                                                                1
OBS: cliente que gosta de separar peças contudo não realiza o pagamento. \r\nComunicação ruim, possui dificuldade em compreender o que as vendedoras falam. \r\nNão é ciente de live.        1
Cliente ativa em lives e em sua grande maioria realiza a retirada das mercadorias aqui na loja.                                                                                              1
sempre faz retirada das peças na loja                                                                                                                                                        1
Name: Observações, dtype: int64

 Estado civil
NaN       1079
Casado       6
Name: Estado civil, dtype: int64

 Profissão
NaN                1084
dermatologista        1
Name: Profissão, dtype: int64

 Sexo
NaN          797
feminino     268
masculino     20
Name: Sexo, dtype: int64

 Data nascimento
NaN           663
09/05/1900      2
19/01/1990      2
03/09/1996      2
10/05/1989      2
             ...
12/10/1989      1
17/02/1998      1
17/01/1997      1
30/08/1995      1
18/02/1984      1
Name: Data nascimento, Length: 411, dtype: int64

 Naturalidade
NaN    1085
Name: Naturalidade, dtype: int64

 Nome pai
NaN    1085
Name: Nome pai, dtype: int64

 CPF pai
NaN    1085
Name: CPF pai, dtype: int64

 Nome mãe
NaN    1085
Name: Nome mãe, dtype: int64

 CPF mãe
NaN    1085
Name: CPF mãe, dtype: int64

 Segmento
NaN    1085
Name: Segmento, dtype: int64

 Vendedor
Qualquer vendedor    592
NaN                  488
Débora Pires           3
Renata Wist            2
Name: Vendedor, dtype: int64

 Tipo contato
Cliente       856
NaN           225
Vendedor        3
Fornecedor      1
Name: Tipo contato, dtype: int64

 E-mail para envio NFe
NaN                       1084
mr.menegatti@gmail.com       1
Name: E-mail para envio NFe, dtype: int64

 Limite de crédito
0.00    1085
Name: Limite de crédito, dtype: int64

 Cliente desde
31/10/2022    76
10/11/2022    43
11/11/2022    26
08/11/2022    20
17/11/2022    19
              ..
04/08/2020     1
29/06/2017     1
15/06/2021     1
11/01/2018     1
26/06/2020     1
Name: Cliente desde, Length: 439, dtype: int64

 Próxima visita
NaN    1085
Name: Próxima visita, dtype: int64

 Condição de pagamento
NaN    1085
Name: Condição de pagamento, dtype: int64

 Regime tributário
NaN    1085
Name: Regime tributário, dtype: int64

## Coisas pra fazer

- [ ]  Pegar os nomes que se repetem e analisar
- [ ]  Formatar os instagram
- [ ]  Observar os moradoras da Rua Dona Stela
- [ ]  Padronizar os "s/n"
- [ ]  Gerar um mapa por CEP
- [ ]  Mapa de calor por estado
- [ ]  Observar cadastros sem o estado, cidade, etc
- [ ]  Observar fone repetidos
- [ ]  Observar celular repetidos
- [ ]  Observar email repetidos
- [ ]  Observar pessoas jurídicas
- [ ]  Ativar situações
- [ ]  Observar sexo
- [ ]  Observar data nascimento e idade
- [ ]  Observar vendedor
- [ ]  Observar Tipo de cliente

### Pegar nomes que se repetem e analisar

- Vai passar por todos os nomes e pegar a quantidade de repetição de cada um
- Verificar qual cadastro está mais completo e excluir os outros

In [8]:
repetition_by_name = all_clients_original['Nome'].value_counts(dropna = False)

In [9]:
index_first_name_no_repeat = 0
while (repetition_by_name[index_first_name_no_repeat] > 1):
  index_first_name_no_repeat += 1

array_repeats_names = repetition_by_name.index[:index_first_name_no_repeat]

In [10]:
# Retorna o índice da Series com menos informações NaN e todos os indices dos outros
def registration_with_less_nan(df):
  less_quantity = total_columns
  idx_less_quantity = 0

  for idx, series in df.iterrows():
    counts_nan = series.isna().sum()

    if (counts_nan < less_quantity):
      less_quantity = counts_nan
      idx_less_quantity = idx

  return idx_less_quantity

In [11]:
def scraping_dates(idx_more_complete, df_registration_same_names):
  series_registration_more_complete = df_registration_same_names.loc[idx_more_complete]

  df_others_registration = df_registration_same_names.drop(idx_more_complete, axis=0)

  for data_type, value in series_registration_more_complete.iteritems():
    if (pd.isnull(value)):
      for idx_less_complete in df_others_registration.index:
        new_value = df_others_registration.loc[idx_less_complete][data_type]
        if (not(pd.isnull(new_value))):
          series_registration_more_complete[data_type] = new_value

          logging.info(f'{idx_less_complete} para {idx_more_complete} troca na categoria "{data_type}": de {value} para {new_value}')

In [12]:
for name in array_repeats_names:
  df_registration_same_names = all_clients_original.loc[all_clients_original["Nome"]==name].copy()

  idx_registration_more_complete = registration_with_less_nan(df_registration_same_names)
  
  scraping_dates(idx_registration_more_complete, df_registration_same_names)

  break